<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gray</key>
	<dict>
		<key>texts_light</key>
		<dict>
			<key>primary</key>
			<string>FFFFFF</string>
			<key>secondary</key>
			<string>B2FFFFFF</string>
			<key>disabled</key>
			<string>80FFFFFF</string>
			<key>dividers</key>
			<string>0CFFFFFF</string>
		</dict>
		<key>backgrounds</key>
		<dict>
			<key>A100</key>
			<string>A7FFEB</string>
			<key>A200</key>
			<string>64FFDA</string>
			<key>A300</key>
			<string>1DE9B6</string>
			<key>A400</key>
			<string>00BFA5</string>
			<key>50</key>
			<string>FAFAFA</string>
			<key>100</key>
			<string>F5F5F5</string>
			<key>200</key>
			<string>EEEEEE</string>
			<key>300</key>
			<string>E0E0E0</string>
			<key>400</key>
			<string>BDBDBD</string>
			<key>500</key>
			<string>9E9E9E</string>
			<key>600</key>
			<string>757575</string>
			<key>700</key>
			<string>616161</string>
			<key>800</key>
			<string>424242</string>
			<key>900</key>
			<string>212121</string>
		</dict>
	</dict>
	<key>gray_blue</key>
	<dict>
		<key>texts_light</key>
		<dict>
			<key>primary</key>
			<string>FFFFFF</string>
			<key>secondary</key>
			<string>B2FFFFFF</string>
			<key>disabled</key>
			<string>80FFFFFF</string>
			<key>dividers</key>
			<string>0CFFFFFF</string>
		</dict>
		<key>backgrounds</key>
		<dict>
			<key>A100</key>
			<string>A7FFEB</string>
			<key>A200</key>
			<string>64FFDA</string>
			<key>A300</key>
			<string>1DE9B6</string>
			<key>A400</key>
			<string>00BFA5</string>
			<key>50</key>
			<string>ECEFF1</string>
			<key>100</key>
			<string>CFD8DC</string>
			<key>200</key>
			<string>B0BEC5</string>
			<key>300</key>
			<string>90A4AE</string>
			<key>400</key>
			<string>78909C</string>
			<key>500</key>
			<string>607D8B</string>
			<key>600</key>
			<string>546E7A</string>
			<key>700</key>
			<string>455A64</string>
			<key>800</key>
			<string>37474F</string>
			<key>900</key>
			<string>263238</string>
		</dict>
	</dict>
</dict>
</plist>
